extends main_layout

block content
    #overlay
    .wrapper
        // Sidebar
        nav#sidebar
            .sidebar-hack
                #header-profile
                    a(href='#')
                        span.avatar(style="background-image: url('/images/male_avatar.svg')")
                        .name-wrapper
                            h5=user.local.email
            #sidebar-main
                // Sidebar Header
                .sidebar-header
                    .form-group
                        label(for='contacts') Contacts
                        input#contacts.form-control(type='text', placeholder='Search Helis Members')
                // Sidebar Links
                .contact-list-wrapper
                    .contact-list
                        .contact-list-header My Contacts
                        #contact_list.conctacts
                            each u in users
                                if (JSON.stringify(u._id) != JSON.stringify(user._id))
                                    .contact-list-contact
                                        a.contact-list_contact_link
                                            span.contact-list_contact_avatar(style='background-image: url("/images/male_avatar.svg")')
                                                .bubble(id="status_" + u._id, class= u.status === 'online' ? 'online' : 'offline')
                                                    span.bubble-outer-dot
                                                        span.bubble-inner-dot
                                            span.contact-list_contact_name #{u.local.email}
                                        a.contact-icon.contact-list_contact_button-chat(data-uid=u._id, data-username=u.local.email)
                                        a.contact-icon.contact-list_contact_button-audio(data-uid=u.id, data-username=u.local.email)
                                        a.contact-icon.contact-list_contact_button-video(data-uid=u.id, data-username=u.local.email)

        // Page Content
        #content
            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        //button#sidebarCollapse.btn.btn-info.navbar-btn(type='button')
                            i.glyphicon.glyphicon-align-left
                            span Toggle Sidebar
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='/logout') Logout
            #main-area
    #video-container
        h1#call_from Robert
        video#local_video(autoplay='')
        video#remote_video(autoplay='')
        section#call_options
            .chat-app_control_wrap
                .control_chat_block
                    .control_chat_block_inner
                        button#audio_mute.voicebtn(type='button', name='button')
                        div
                            button#leave_call.callbtn.chat-app__exit.leave
                            button#answer_call.callbtn.chat-app__exit.answer
                        button#video_mute.videobtn(type='button', name='button')


block bottom
    // Custom script
    script(src='/javascripts/custom.js')